// Colors
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Clock variables
$header-color-font: #fff;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
